<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Edycja postu - Rocket</title>
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="p-5" th:with="isDelete=${#strings.equalsIgnoreCase(param.delete,'true')}">

                                <form class="user" th:action="@{/createPost}" method="POST" th:object="${post}"
                                      th:with="akcja=*{postId} ? (${isDelete}?'delete':'update') :'create',
                                        opis=*{postId} ? (${isDelete}?'Usuń':'Edytuj') : 'Utwórz'" autocomplete="off">

                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4" th:text="${opis} + ' post'">Załóż konto!</h1>
                                    </div>

                                    <div class="form-group">
                                        <input class="btn btn-primary btn-user btn-block" type="submit" name="create" value="create" th:name="${akcja}" th:value="${opis}"/>
                                        <input class="btn btn-primary btn-user btn-block" type="submit" name="cancel" value="Anuluj"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="label1"></label>
                                        <input th:field="*{title}" type="text" class="form-control form-control-user2" id="label1"
                                                   placeholder="Wpisz tytuł posta" size="45" aria-describedby="emailHelp" />
                                    </div>
                                    <div class="form-group">
                                        <label for="label2"></label>
                                        <textarea th:field="*{content}" type="text" class="form-control form-control-user2" id="label2"
                                                  placeholder="Wpisz treść posta" aria-describedby="emailHelp"
                                                  rows="17" cols="47" >Treść</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="label3"></label>
                                        <input th:field="*{date}" type="text" class="form-control form-control-user2" id="label3"
                                               placeholder="Wpisz treść posta" size="23" aria-describedby="emailHelp" readonly/>
                                    </div>
                                    <label><input type="hidden" th:field="*{postId}" /></label>
                                    <label><input type="hidden" th:field="*{author}" /></label>
                                    <label><input type="hidden" th:field="*{status}" /></label>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JS-->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>